.column-left {
    float: left;
    width: 33.333%;
}
  
.column-right {
    float: right;
    width: 33.333%;
}
  
.column-center {
    display: inline-block;
    width: 33.333%;
}

table td {
    border: 1px solid black;
    padding: 3px;
}

table{
    border-collapse: collapse;
}